{% extends 'base.html' %}

{% block title %}A Compliment{% endblock %}

{% block content %}
    <h1>Hi {{ person }}! I think you're {{ compliment }}!</h1>
    <br>
    <br>
    <form action="/game">
      Do you want to play a fun game? ٩(˘◡˘)۶
      <br>
      <input type="radio" name="game option" value="Yes">
      <label>Yes</label>
      <br>
      <input type="radio" name="game option" value="No">
      <label>No</label>
      <br>
      <br>

      <button type="submit">Submit</button>
      </form>
{% endblock %}