{% extends 'base.html' %}

{% block title %}Madlib Options{% endblock %}

{% block content %}
        <h1>Madlib Options</h1>

        <form action="/madlib">

            Fill out this form! ʕ•́ᴥ•̀ʔっ
            <br>
            <br>
            <label>Person:</label><textarea name="person"></textarea>
            <br>
            <br>
            <label>Color:</label>
            <select name="color">
                <option value="blue">blue</option>
                <option value="puke green">puke green</option>
                <option value="neon yellow">neon yellow</option>
                <option value="salmon">salmon</option>
            </select>

            <br>
            <br>
            <label>Noun:</label><textarea name="noun"></textarea>
            <br>
            <br>
            <label>Adjective (select two):</label>
            <br>
            <input type="checkbox" name="adjectives" value="pretentious">
            <label>pretentious</label>
            <br>
            <input type="checkbox" name="adjectives" value="cute">
            <label>cute</label>
            <br>
            <input type="checkbox" name="adjectives" value="evil">
            <label>evil</label>
            <br>
            <input type="checkbox" name="adjectives" value="hilarious">
            <label>hilarious</label>
            <br>
            <input type="checkbox" name="adjectives" value="goofy">
            <label>goofy</label>
            <br>
            <br>

            <button type="submit">Submit</button>
        </form>
{% endblock %}