<!doctype html>
<html>
    <head>
        <title>Madlib Options</title>
    </head>
    <body>
        <h1>Madlib Options</h1></body>

        <form action="/madlib">

            Fill out this form! ʕ•́ᴥ•̀ʔっ
            <br>
            <br>
            <label>Person:</label><textarea name="person"></textarea>
            <br>
            <br>
            <label>Color:</label>
            <select name="color">
                <option value="blue">blue</option>
                <option value="puke green">puke green</option>
                <option value="neon yellow">neon yellow</option>
                <option value="salmon">salmon</option>
            </select>

            <br>
            <br>
            <label>Noun:</label><textarea name="noun"></textarea>
            <br>
            <br>
            <label>Adjective:</label><textarea name="adjective"></textarea>
            <br>
            <br>

            <button type="submit">Submit</button>
        </form>
</html>