{% extends 'base.html' %}

{% block title %}Madlib Storytime{% endblock %}

{% block content %}
        <h1>Madlib Storytime!</h1>

        There once was a 
        {% if adjectives %}
            {% for adjective in adjectives %}
                {% if not loop.last %}
                    {{ adjective }},
                {% else %}
                    and {{ adjective }}
                {% endif %}
            {% endfor %}
        {% endif %}
         {{ person }} sitting in the Hackbright Lab.
        <br>
        When {{ noun }} went to pick {{ person }} up, {{ person }} jumped and shouted in a totally 
        {% if adjectives %}
            {% for adjective in adjectives %}
                {% if not loop.last %}
                    {{ adjective }},
                {% else %}
                    and {{ adjective }}
                {% endif %}
            {% endfor %}
        {% endif %}
         way.
{% endblock %}